<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
<h3>My Account</h3>
<div>
    <ul>
        <li><a href="/studio/">Studio</a></li>
    </ul>
</div>
<div>
    <ul>
        <li>Name:{{.Name}}</li>
        <li>Email:{{.Email}}</li>
        <li>ID:{{.ID}}</li>
        <li>IsActive:{{.Active}}</li>
        <li>JWT:{{.JWT}}</li>
        <li>JWTExpires:{{.JWTExpire}}</li>
        <li>Account:{{.AccountID}}</li>
        {{if eq .Verified "no"}}
        <li>IsVerified:<a href="/account/verification/">{{.Verified}}</a></li>
        {{else}}
        <li>IsVerified:{{.Verified}}</li>
        {{end}}
        <li>Phone:{{.Phone}}</li>
    </ul>
</div>
<div>
    <ul>
        {{if eq .Verified "no"}}
        <li><a href="/account/verification/">Verifiy Account</a></li>
        {{end}}
        <li><a href="/account/jwt/refresh/">Refresh Token</a></li>
        <li><a href="/account/settings/password/">Change Password</a></li>
    </ul>
</div>
</body>
</html>


