<!DOCTYPE html>
<html>
<head>
    <title>{{.Title}}</title>
</head>
<body>
<h3>Change</h3>

<form id="form" action="/account/settings/password/" method="post">
    <div>
        <label>New Password:</label>
        <input type="password" name="password"/><span></span>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirm"/><span></span>
    </div>
    <div>
        <input type="submit" value="更改密码"></input>
    </div>
</form>
</body>
</html>


