<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
</head>
<body>
<h3>Reset</h3>

<form id="form" action="/login/reset/{{.email}}/{{.token}}" method="post">
    <div>
        <label>New Password:</label>
        <input type="password" name="password"/><span></span>
    </div>
    <div>
        <label>Confirm Password:</label>
        <input type="password" name="confirm"/><span></span>
    </div>
    <div>
        <input type="submit" value="重置密码"></input>
    </div>
</form>
</body>
</html>


