<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>AtlasMap</title>
</head>

<body>
    <h1>上传数据</h1>
    <ul>
        <li>
            <form action="/datasets/csv/import/" method="post" enctype="multipart/form-data">
                数据导入csv: <input type="file" name="file"><br>
                <input type="submit" value="上传">
            </form>
        </li>
        <br>
        <li>
            <form action="/datasets/geojson/import/" method="post" enctype="multipart/form-data">
                数据导入geojson: <input type="file" name="file"><br>
                <input type="submit" value="上传">
            </form>
        </li>
        <br>
        <li>
            <form action="/utils/import/maps/" method="post" enctype="multipart/form-data">
                导入地图文件: <input type="file" name="file"><br>
                <input type="submit" value="上传">
            </form>
        </li>
    </ul>
</body>