<!DOCTYPE html>
<html>

<head>
    <title>AtlasMap</title>
</head>

<body>
    <h3>添加用户</h3>

    <form id="form" action="/users/" method="post">
        <div>
            <label>Name:</label>
            <input type="text" name="name" /><span></span>
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password" /><span></span>
        </div>
        <div>
            <input type="submit" value="添加"></input>
        </div>
    </form>
</body>

</html>