<!DOCTYPE html>
<html>
<head>
    <title>{{.title}}</title>
</head>
<body>
<h3>My Account</h3>
<div>
    <ul>
        <li>UserName:{{.username}}</li>
        <li>Email:{{.email}}</li>
        <li>UserID:{{.userid}}</li>
        <li>IsActive:{{.active}}</li>
        <li>JWT:{{.jwt}}</li>
        <li>JWTExpires:{{.jwtexpire}}</li>
        <li>AccountID:{{.accountid}}</li>
        {{if eq .verified "no"}}
        <li>IsVerified:<a href="/account/verification/">{{.verified}}</a></li>
        {{else}}
        <li>IsVerified:{{.verified}}</li>
        {{end}}
        <li>Phone:{{.phone}}</li>
    </ul>
</div>
<div>
    <ul>
        {{if eq .verified "no"}}
        <li><a href="/account/verification/">Verifiy Account</a></li>
        {{end}}
        <li><a href="/account/jwt/refresh/">Refresh Token</a></li>
        <li><a href="/account/settings/password/">Change Password</a></li>
    </ul>
</div>
</body>
</html>


